@import "../../styles/mixins.scss";

.ProductOverview {
    width: 100%;
    background: linear-gradient(90deg, rgba(255,255,255,1) 15%, rgba(255,255,255,0.5) 70%, rgba(255,255,255,0.5) 100%);
    margin-bottom: 50px;

    a {
        height: 100px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        text-decoration: none;
        color: rgb(35, 35, 35);
        transition: all 0.2s ease-out;

        &:hover {
            box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
        }

        img {
            height: 100%;
        }

        .productMainInfo {
            width: 60%;
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin: 0;
            padding-right: 10px;
            font-size: 0.7em;

            .makerModel {
                display: flex;
                flex-direction: column;

                h2 {
                    line-height: 2rem;
                }
            }

            .price {
                font-style: italic;
            }

            @include md {
                font-size: 1em;
                margin: 0 10%;
                padding-right: 0;
            }
        }

        @include md {
            height: 150px;
        }
    }
}